# Directories
logs
node_modules
**/airdrops/bindings
**/flow/bindings
**/lockup/bindings
**/build
**/_generated
**/generated
**/.bin

# Files
*.log
*.tsbuildinfo
.env*
!.env.example
config.yaml
schema.graphql
subgraph.yaml
**/graph/**/tests/**/*.latest.json
**/manifests/**/*.yaml
