# Builds
**/artifacts
**/benchmarks
**/build
**/lib
**/static
**/generated
**/subgraph.yaml
!**/_generated

# Node.js
**/node_modules
**/.eslintcache

# Logs
**/logs
*.log

# Misc
.DS_Store
.env
.env.*
!.env.example

# TypeScript cache
*.tsbuildinfo