# Directories
logs
node_modules
**/bindings
**/build
**/_generated
**/generated
**/.bin
!src/graph/common/bindings

# Files
*.log
*.tsbuildinfo
.env*
.latest.json
!.env.example
config.yaml
pnpm-lock.yaml
schema.graphql
subgraph.yaml
**/manifests/**/*.yaml
